body, h1 {
	padding: 0;
	margin: 0;
}

span[class^='error'] {
    display: none;
}

.debug {
	border: 1px solid red;
}

.hide-before:before {
    display: none !important;
}

header.main-header {
	background-color: #000000;
	padding: 50px 0 40px 90px;
}

header.main-header .header-logo {
	height: 53px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png);
}

main.container {
	margin: 0 auto;
	width: 1900px;
	text-align: center;
}

main.container header.container-header {
	padding: 100px 0;
	text-align: center;
}

main.container header.container-header h1 {
	font-family: 'Din Light';
	font-size: 70px;
	font-weight: 200;
	color: #565656;
}

section.container-form {
	margin: 0 auto;
	width: 1460px;
}

.container-form form.main-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.container-form form.main-form .flex-item {
	position: relative;
	display: flex;
	justify-content: space-between;
}

/*.container-form form.main-form .flex-item span[class^='error'] {
	position: absolute;
	left: 0;
	top: -40px;
}*/


/* ICONS START*/
.container-form form.main-form .flex-item:before {
	background-size: contain;
	background-repeat: no-repeat;
	content: ' ';
    pointer-events: none;
    z-index: 1000;
    width: 80px;
    height: 70px;
    display: block;
}

/* USER ICON */
.container-form form.main-form .flex-item:nth-child(1):before {
	background-image: url(../images/icons/user.png);
    position: absolute;
    left: -125px;
    top: 0px;
}

/* ENVELOPE ICON */
.container-form form.main-form .flex-item:nth-child(2):before{
	background-image: url(../images/icons/envelope.png);
    position: absolute;
    left: -130px;
    bottom: 4px;
}

/* BRIEFCASE ICON */
.container-form form.main-form .flex-item:nth-child(3):before{
	background-image: url(../images/icons/chart.png);
    position: absolute;
    left: -128px;
    bottom: 0px;
}

/* TACK ICON */
.container-form form.main-form .flex-item:nth-child(4):before{
	background-image: url(../images/icons/tack.png);
    position: absolute;
    left: -120px;
    bottom: 0px;
}

/* ICONS END*/

/* ARROW ICON START*/
.icon:before {
	font-family: 'FontAwesome';
    font-size: 85px;
    content: '\f0d7';
    color: #cdcdcd;
    pointer-events: none;
    z-index: 1000;
}

.icon-arrow:before {
    position: absolute;
    left: 22px;
    top: 0px;
}

.icon-arrow-big:before {
    position: absolute;
    right: 25px;
    top: 50px;
}
/* ARROW ICON END*/

/*.container-form form.main-form .flex-item:nth-child(1),
.container-form form.main-form .flex-item:nth-child(3) {
	width: 615px;
}*/

.container-form form.main-form .flex-item:not(:nth-child(2)) {
	width: 615px;
}


.form-prefix {
	position: relative;
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   outline: none;
   text-overflow: '';
   align-self: flex-end;
   background: #ededed;
   border: none;
   height: 79px;
   width: 90px;
   font-family: 'Din Light';
   font-size: 32px;
}


.box {
	width: 250px;
	border: none;
	outline: none; 
	background-color: #ededed;
	padding: 20px 15px;
	font-size: 32px;
	font-family: 'Din Light';
	color: #565656;
	box-sizing: border-box;
}

.box::-webkit-input-placeholder {
	color: #565656;
	opacity: 1; transition: opacity 0.3s ease;
}

.box:focus::-webkit-input-placeholder {
	opacity: 0; 
	transition: opacity 0.3s ease;
}

.box.big {
	width: 615px;
}

.box.chooser {
	position: relative;
	margin-top: 50px;
	flex-grow: 1;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    outline: none;
    font-family: 'Din Light';
    font-size: 33px;
}