body, h1 {
	padding: 0;
	margin: 0;
}

.debug {
	border: 1px solid red;
}

.hide-before:before {
    display: none !important;
}

header.main-header {
	background-color: #000000;
	padding: 50px 0 40px 90px;
}

header.main-header .header-logo {
	height: 53px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png);
}

main.container {
	margin: 0 auto;
	width: 1900px;
	text-align: center;
}

main.container header.container-header {
	padding: 100px 0;
	text-align: center;
}

main.container header.container-header h1 {
	font-family: 'Din Light';
	font-size: 70px;
	font-weight: 200;
	color: #565656;
}

section.container-form {
	margin: 0 auto;
	width: 1460px;
}

.container-form form.main-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.container-form form.main-form .flex-item {
	position: relative;
	display: flex;
	justify-content: space-between;
}

/* ICONS START*/
.container-form form.main-form .flex-item:not(:nth-last-child(2)):before {
	background-size: contain;
	background-repeat: no-repeat;
	content: ' ';
    pointer-events: none;
    z-index: 1000;
    width: 80px;
    height: 70px;
    display: block;
}

/* USER ICON */
.container-form form.main-form .flex-item:nth-child(1):before {
	background-image: url(../images/icons/user.png);
    position: absolute;
    left: -125px;
    top: 0px;
}

/* ENVELOPE ICON */
.container-form form.main-form .flex-item:nth-child(2):before{
	background-image: url(../images/icons/envelope.png);
    position: absolute;
    left: -130px;
    bottom: 4px;
}

/* BRIEFCASE ICON */
.container-form form.main-form .flex-item:nth-child(3):before{
	background-image: url(../images/icons/chart.png);
    position: absolute;
    left: -128px;
    bottom: 0px;
}

/* TACK ICON */
.container-form form.main-form .flex-item:nth-child(4):before{
	background-image: url(../images/icons/tack.png);
    position: absolute;
    left: -110px;
    bottom: 0px;
}

/* ICONS END*/

/* ARROW ICON START*/
.icon:before {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/icons/arrow.png);
    content: ' ';
    color: #cdcdcd;
    pointer-events: none;
    z-index: 1000;
    display: block;
    width: 50px;
    height: 25px;
}

.icon-arrow:before {
    position: absolute;
    left: 22px;
    top: 33px;
}

.icon-arrow-big:before {
    position: absolute;
    right: 25px;
    bottom: 20px;
}
/* ARROW ICON END*/

/*.container-form form.main-form .flex-item:nth-child(1),
.container-form form.main-form .flex-item:nth-child(3) {
	width: 615px;
}*/

.container-form form.main-form .flex-item:not(:nth-child(2)) {
	width: 615px;
}


.form-prefix {
	position: relative;
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   outline: none;
   text-overflow: '';
   align-self: flex-end;
   background: #ededed;
   border: none;
   height: 79px;
   width: 90px;
   font-family: 'Din Light';
   font-size: 32px;
   color: #565656;
   padding: 0 15px;
}


.box {
	width: 250px;
	border: none;
	outline: none; 
	background-color: #ededed;
	padding: 20px 15px;
	font-size: 32px;
	font-family: 'Din Light';
	color: #565656;
	box-sizing: border-box;
}

.box::-webkit-input-placeholder {
	color: #565656;
	opacity: 1; transition: opacity 0.3s ease;
}

.box:focus::-webkit-input-placeholder {
	opacity: 0; 
	transition: opacity 0.3s ease;
}

.box.big {
	width: 615px;
}

.box.chooser {
	position: relative;
	margin-top: 50px;
	flex-grow: 1;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    outline: none;
	border: none;
    font-family: 'Din Light';
    font-size: 33px;
}

.chooser option {
	outline: none;
	border: none;
}

/* FLEX ITEM CHECK BOX */ 
.container-form form.main-form .flex-item:nth-last-child(2),
.container-form form.main-form .flex-item:nth-last-child(1) {
	width: 100%;
	margin-left: auto;
}

.container-form form.main-form .flex-item:nth-last-child(2) {
	width: 615px;
	margin-top: 55px;
	margin-bottom: 140px;
}

.squared {
  width: 615px;
  position: relative;
}

.squared input[type=checkbox] {
    visibility: hidden;

}    
.squared input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.squared label {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.squared label:before {
	width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0px 0px 0px white, 0px 1px 1px rgba(0,0,0,0.2);
    border: 2px solid #565656;
    display: block;
  	content: '';
}

.squared label:hover::after {
	opacity: 0.5;
}

.squared label:after {
	content: '';
	width: 23px;
	height: 7px;
	position: absolute;
	top: 0px;
	left: 4px;
	border: 2px solid #7fc0e0;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 0;
	transform: rotate(-51deg);
}

.squared label span {
	position: absolute;
	top: -3px;
	left: 37px;
	text-align: left;
	font-family: 'Din Regular';
	font-size: 18px;
	color: #565656;
}
/* FLEX ITEM CHECK BOX END*/ 

/* FLEX ITEM BUTTON SUBMIT START */ 
.container-form form.main-form .flex-item:nth-last-child(1) .btn-submit {
	position: relative;
	background-color: #ffffff;
    border: none;
    outline: none;
    color: #565656;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family: 'Din Light';
    font-size: 56.25px;
    padding-right: 50px;
}

.container-form form.main-form .flex-item:nth-last-child(1) .btn-submit:before {
	content: '';
	width: 31px;
	height: 31px;
	position: absolute;
	bottom: 28px;
	right: 10px;
	border: 2px solid #565656;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 1;
	transform: rotate(225deg);
}
/* FLEX ITEM BUTTON SUBMIT END*/ 

/* ERRORS */
/*span[class^='error'] {
	display: none;
}
*/
span[class^='error'] {
	font-family: 'Din Light';
	font-size: 24.3px;
	color: #e72c2c;
}

.container-form form.main-form .flex-item span[class='errorPrefix'] {
	position: absolute;
	left: 0;
	top: -40px;
}

.container-form form.main-form .flex-item span[class='errorName'] {
	position: absolute;
	left: 100px;
	top: -40px;
}

.container-form form.main-form .flex-item span[class='errorSurname'] {
	position: absolute;
	left: 360px;
	top: -40px;
}

.container-form form.main-form .flex-item span[class='errorProfession'] {
	position: absolute;
	left: 0px;
	top: 10px;
}

.container-form form.main-form .flex-item span[class='errorEmail'] {
	position: absolute;
	left: 0px;
	top: -40px;
}

.container-form form.main-form .flex-item span[class='errorNationality'] {
	position: absolute;
	left: 0px;
	top: 10px;
}
/* ERORRS END*/