/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow {
  background-image: url(../images/sprite.png);
  background-position: -242px -53px;
  width: 50px;
  height: 25px;
}
.icon-chart {
  background-image: url(../images/sprite.png);
  background-position: -80px -53px;
  width: 79px;
  height: 75px;
}
.icon-envelope {
  background-image: url(../images/sprite.png);
  background-position: -159px -53px;
  width: 83px;
  height: 62px;
}
.icon-tack {
  background-image: url(../images/sprite.png);
  background-position: 0px -132px;
  width: 55px;
  height: 68px;
}
.icon-user {
  background-image: url(../images/sprite.png);
  background-position: 0px -53px;
  width: 80px;
  height: 79px;
}
.icon-logo {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 349px;
  height: 53px;
}
